<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544438293269-qdplt0rp6prbpp4eqr8buro007m8cevm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544438293269-qdplt0rp6prbpp4eqr8buro007m8cevm</string>
	<key>API_KEY</key>
	<string>AIzaSyDAXuzuiJ_p2JI_AzVVmwXpztV1mH8A2dQ</string>
	<key>GCM_SENDER_ID</key>
	<string>544438293269</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Rad.pursuitstagram</string>
	<key>PROJECT_ID</key>
	<string>pursuitstagram-11111</string>
	<key>STORAGE_BUCKET</key>
	<string>pursuitstagram-11111.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544438293269:ios:8e4392475c8c5015030f1c</string>
	<key>DATABASE_URL</key>
	<string>https://pursuitstagram-11111.firebaseio.com</string>
</dict>
</plist>